<nav>
  <ul>
    <li><a href="/phoenix">Phoenix</a></li>
    <li><a href="/griffin">Griffin</a></li>
    <li><a href="/leviathan">Leviathan</a></li>
    <li><a href="/kitsune">Kitsune</a></li>
  </ul>
</nav>
<hr />
